.button {
	padding: 5px 10px;
	display: inline;
	background: url(/img/core/button.png) repeat-x bottom;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 1px 1px #666;
	font-weight: bold;
	font-size: 12px;
}

.button:hover {
  background-position: 0 -48px;
}

.button:active {
	background-position: 0 top;
	position: relative;
	top: 1px;
	padding: 6px 10px 4px;
}

.blue { 
	background-color: #1a7cab; 
}